
# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/

# GoogleService-Info.plist
Flash Chat iOS/GoogleService-Info.plist
